<!-- analyse.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Análise de Imagens</title>
    <style>
        #progress-bar-container {
            width: 100%;
            background-color: #ddd;
        }

        #progress-bar {
            width: 0%;
            height: 30px;
            background-color: #4CAF50;
            text-align: center;
            line-height: 30px;
            color: white;
        }
    </style>
</head>
<body>
    <h1>Análise em Progresso</h1>
    <div id="progress-bar-container">
        <div id="progress-bar">0%</div>
    </div>
    <div id="image-count">Imagens processadas: 0/0</div>
    <script src="../renderer.js"></script>
</body>
</html>
